<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

 Exercise 1: Create a Jupyter Notebook 
Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. Python

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Sciti-Learn
3. Pandas
4. Matplot

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools|
|--------------------|
| Jupitar Notebook|
| CodePen|
| RStudio|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [16]:
#This will convert 200 minutes to hours by diving by 60.
hours = minutes/60
print(hours)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- List common libraries 
- List of the common tools

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
K. N. Ara